.quiensoy {
    padding:0 0 2% 0;
    margin:-12rem 0 0 0;
    justify-content: space-around;
    align-items:center;
}
.resumen {
    background: #333;
    padding:2rem 3rem;
    border-radius:5px;
    transition:ease-in-out .3s;
    box-shadow:
        0 0 10px 5px rgb(0 0 0 / 25%), 
        inset 0 0 100px 0 rgb(0 0 0 / 50%);
}
.resumen:hover {
    box-shadow: 0px 0px 30px 10px rgb(200 10 100 / 25%);
    transition:ease-in-out .5s;
}
.resumen h3, .resumen h4 { color:#f6f6f6 !important; }
.resumen p { font-size: 0.9em; color:#f6f6f6; }
.resumen h2, .resumen h3, .resumen h4, .resumen p, .insignias li a, .resumen ul {
    text-shadow:0px 0px 2px rgb(0 0 0 / 80%),
    1px 1px 0px rgb(0 0 0 / 50%), 1px 1px 1px rgb(0 0 0 / 50%),
    1px 1px 2px rgb(0 0 0 / 50%), 2px 2px 0px rgb(0 0 0 / 50%),
    2px 2px 1px rgb(0 0 0 / 50%), 2px 2px 2px rgb(0 0 0 / 50%);
}
.resumen h3 { padding-bottom:5%; }
.resumen ul { display:flex; justify-content:flex-start; }
.resumen ul li { padding:0; }
.resumen ul li:first-child { padding:0 5% 0 0; }
.resumen ul a { display:flex; align-items:center; }
.resumen ul a i, .resumen h4 i, .resumen p i { margin:0 10px 0 0; color:#C80A64; }
.avatar {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}
.avatar img { 
    border-radius:100%;
    box-shadow: 0px 0px 30px 10px rgb(0 0 0 / 80%);
    border:5px solid #C80A64;
    transition:ease-in-out .5s;
}
.avatar img:hover {
    box-shadow: 0px 0px 30px 10px rgb(200 10 100 / 50%);
    border:5px solid #000;
    transition:ease-in-out .5s;
}
.avatar a { margin:-10% 0 0 0; }
.insignias li { margin:0 0 4% 0; }
.insignias li a { 
    color:#d6d6d6;
    display:flex;
    font-size:14px;
    align-items:center;
}
.insignias li a:hover { color:#C80A64; }
.insignias li a:hover > img { padding:0; }
.insignias li a img {
    margin:0 10px 0 0;
    padding:5px;
    height:60px;
}
.insignias li a img:hover { box-shadow:0px 0px 15px 5px rgb(0 0 0 / 50%); }
.card { padding:4%; }
.titulo { padding:0 0 2% 0;} 
.titulo, .resumen h2, .resumen h3, 
.resumen h4, .resumen ul { justify-content: center !important; }
.titulo span { font-size:22px; display:flex; align-items:center; }
.quiensoyContenido { padding: 0 1.5rem;}
.quiensoyContenido ul { justify-content:center; flex-direction:column; }
.quiensoyContenido ul li { display:flex; justify-content:flex-end; margin:0 0 5% 0; }

/* MODAL */
table { width:100%; }
tr { display: flex; justify-content: space-around; }
textarea.acercaDe { height:175px; resize:both; }
.pencil, .trash { cursor:pointer; }
.green-icon{ color:#198754 }
.red-icon{ color:#dc3545 }
    
@media (max-width:480px){
    .quiensoy { flex-direction:column; }
    .avatar { align-items:center; }
    .avatar a { margin-left:auto; }
    .resumen { padding:10%; }
    .resumen ul { flex-direction:column; }
    .resumen ul a i { margin:0 10px 0 0; font-size:10px; }
    .insignias { 
        display:flex;
        flex-direction:row;
        width:100%;
        align-items:flex-start;
        justify-content:space-evenly;
        padding:5% 0;
    } 
    .insignias a { flex-direction:column; text-align:center;}
    .insignias li a img { height:50px; padding: 0; margin:0; }
    .titulo span { font-size:1rem; }
    .quiensoyContenido ul { display:none; }
    .resumen h2.titulo { line-height:1.5rem; text-align:center; }
    .resumen h3 { font-size: 0.8rem !important; text-align:center; }
    .resumen h4 { font-size: 0.8rem !important; }
}