.habilidades ul { display:block; }
.habilidades ul li {
    margin:0 0 2% 0;
    width:25%;
    float:left;
}
.eduAvatar {
    height: 100px;
    width:100px;
    margin: 0 10px 0 0;
}
.habilidad {
    padding:0 2% 2% 2%;
}

.habilidad article { 
    padding:0 0 2% 0;
    position: relative;
}

.habilidad h4 {
    font-size:18px;
}

.habilidad .iconitos { 
    z-index: 99;
    position: absolute;
    margin: 0 auto;
    padding: 0;
    justify-content: flex-end;
    width: 100%;
}
.habilidad .iconito { 
    color:#C80A64;
    background:none;
    padding:0;
    margin:5px;
    font-size:12px;
}
.habilidad .iconito:hover { color: rgb(0,0,0,0.8); }


@media (max-width:480px){
    .habilidad article { display:block; padding: 0 0 5% 0; margin:0 0 5% 0; }
    .habilidad:first-child { padding-top:5%; }
    .habilidad article div { flex-direction:column; }
}