.proyectos {
    display:block;
}
.proyectos li {
    margin:0 0 2% 0;
    width:25%;
    float:left;
}

.proyecto {
    padding:0 2% 2% 2%;
}
.proyecto article { 
    border:none;
    padding:0 0 2% 0;
}
.proyecto article div.flexin { position: relative; }
.proyecto h4 {
    font-size:18px;
}

.imagen { position:relative; margin:10px 0 0 0; }
.proyectosModal { 
    display: none;
    align-items:center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;  
    z-index:-999;
    opacity:0;
}
.proyectoModalOn {
    z-index:9999;
    opacity:100%;
}
.proyectosModal img {
    position:relative;
    width:50%;
    box-shadow:0 0 30px rgba(0,0,0,.4)
}
.mostrarModal { 
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;
    background:rgba(200,10,100,0.5);
    opacity:0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:ease-in-out .4s;
}
.mostrarModal:hover { opacity:100%; transition:ease-in-out .2s; }

.proyectos .iconitos { 
    z-index: 99;
    position: absolute;
    margin: 0 auto;
    padding: 0;
    justify-content: flex-end;
    width: 100%;
}
.proyectos .iconito { 
    color:#C80A64;
    background:none;
    padding:0;
    margin:5px;
    font-size:12px;
}
.proyectos .iconito:hover { color: rgb(0,0,0,0.8); }

/* MEDIA */

@media (max-width:480px){
    .proyectos { flex-direction:column; }
    .proyecto { display:block; padding: 0 0 5% 0; margin:0 0 5% 0; border:0; }
    .proyecto article { border:none; }
    .proyectos:first-child { padding-top:5%; }
    .proyectos article div { flex-direction:column; }
}