@import '~ngx-toastr/toastr.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,body { height:100%; font-family: 'Inter'; }
*, *::after, *::before,
dl, ol, ul, p, a, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration:none !important;
  list-style:none !important;
}
a, a:hover, img, img:hover, i, i:hover, button, button:hover
form, form:hover, ul, ul:hover, li, li:hover,
input, input:hover, input:focus, input:checked, input:indeterminate,
.btn, .btn:hover, .btn:focus { transition:ease-in-out .2s; }

body {
  background: url(assets/img/fondo.jpg) fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6, p { font-family:'Inter', sans-serif; line-height:1.5rem; }
h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.2rem; }
h4 { font-size: 1.1rem; }
h5 { font-size: 1rem; line-height:1rem; }
h6 { font-size: 0.8rem; font-weight:500; line-height:1.2rem; letter-spacing:-0.01rem; }
h2, a { color:#C80A64; }
a:hover { color:#80063f; }

.socialmedia a, .socialmedia a:hover { transition:ease-in-out 5ms; }
.agranda { padding:5px; transition:ease-in-out .2s; }
.agranda:hover { padding:0px; transition:ease-in-out .2s; box-shadow: 0px 0px 30px 10px rgb(200 10 100 / 20%); }
.iconitos {
  display:flex;
  justify-content:space-around;
  cursor:pointer;
  align-items:center;
}
.iconito { 
  padding:10px;
  border-radius:100%;
  background:#C80A64;
  color:#d6d6d6;
  border:none;
  box-shadow:none;
  cursor:pointer;
}
.iconito:hover {
  background: rgb(0,0,0,0.8);
  color:#C80A64;
}
.iconito2 { 
  border-radius:100%; 
  color:#d6d6d6; 
  font-size:28px; 
  background:none; 
  border:none;
  box-shadow:none;
}

.row { padding:2% 4%; margin:0 auto; max-width:1200px }
.flexin { display:flex; }
.encabezado { display:flex; justify-content: space-between; align-items:center; }
.titulo { 
  display:flex; 
  justify-content:space-between; 
  padding:0;
  margin:0; 
  font-size:2.5rem;
  font-weight:800;
  line-height:3rem;
}
.tarjeta { 
  justify-content:space-around;
  border:none;
  padding:4rem 2rem; 
  background:#eee; 
  box-shadow:
    inset 0px 0px 60px 10px rgb(0 0 0 / 10%), 
    0px 0px 20px 10px rgb(0 0 0 / 50%);
  border-radius:5px;
}
.tarjeta li {
  padding:0;
  margin:0 0 2rem 0;
}
.tarjeta li:last-child {
  padding:0;
  margin:0;
}
.tarjeta li article { 
  border-bottom:1px #ced4da solid;
  padding:0 0 2% 0;
}
.tarjeta li:last-child article { 
  border-bottom:0 solid;
  padding:0;
}
.tarjeta li  h4 {
  font-size:18px;
}
.tarjeta .avatar {
  height: 100px;
  width:100px;
  margin: 0 10px 0 0;
}

.progress { background-color:#111; }
.progress-bar-striped {
  background-image: linear-gradient(45deg,
  #C80A64 25%, #111 25%, #111 50%, #C80A64 50%, #C80A64 75%, #111 75%, #111); 
}
.modal {
  background: rgb(200 10 100 / 60%);
}
.modal-content {
    transition:ease-in-out .2s;
    width:100%;
    margin:0 auto;
    padding: 3rem 2rem;
    margin-top:1rem;
    border:0;
    background:#ddd;
    box-shadow:
      0 0 100px 0px rgb(0 0 0 / 25%),
      0 0 20px rgb(0 0 0 / 25%),
      inset 0 0 100px rgb(0 0 0 / 50%);
}
.modal-header {
  border:none !important;
}


.close {
  background:#C80A64;
  color:#fff;
}



/* FORMULARIOS */
.form-control {
  font-size:1rem !important;
  font-weight:400;
}
.inputIcon { 
  display:flex;
  box-shadow:0 0 5px rgb(0 0 0 / 10%);
  transition:ease-in-out .2s;
  border-radius:8px;
  margin-bottom:.5rem;
}
.inputIcon:hover {
  box-shadow:0 0 15px rgb(0 0 0 / 20%);
}
.inputIcon input:focus {
  outline: 0 !important;
  border-color: rgba(200 10 100 / 50%) !important;
  box-shadow: 0 0 0.5rem 0 rgba(200 10 100 / 30%) !important;
  transition:ease-in-out .2s;
}
.inputIcon span {
  background:#e9ecef;
  padding: .2rem .5rem !important;
  font-size: 1.25rem !important;
  border-radius:.3rem 0 0 .3rem !important;
  display:flex;
  align-items:center;
}
.inputIcon input {
  padding: .2rem .5rem !important;
  font-size: 1.25rem !important;
  border-radius:0 .3rem .3rem 0 !important;
  font-size:14px !important;
  box-shadow:0 0 10px rgb(255 255 255 / 10%);
}
.inputIcon i {
  font-size:12px !important;
  color:#666;
}



/* MEDIA */

@media (max-width:480px){
  body p { font-size:0.9em; }
  .row { margin:10% 6%; padding:0; }
  .tarjeta { padding:10% 5% !important; }
  .tarjeta article { display:block;padding: 0 0 5% 0; margin:0 0 5% 0; }
  .tarjeta:first-child { padding-top:5%; }
  .tarjeta article div { flex-direction:column; }
  .iconitos { flex-direction:row !important; justify-content:flex-end; }
  .iconito { font-size:10px; padding: 5px; }
  h1 { font-size:1.8rem !important; }
  h2 { font-size:1.5rem !important; }
  h3 { font-size:1.2rem !important; }
  h4 { font-size:1rem !important; }
  h5 { font-size:0.9rem !important; }
  .titulo { font-size:1.5rem; }
}